*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
body{
    height: 1100px;
    background-color: rgb(226, 226, 226);
}

@media(max-width:8000px) and (min-width:992px)
{
   /* width */
::-webkit-scrollbar {
     
    width: 11px;
 }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background-color: rgb(36, 35, 35);
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 15px;
    background-color: rgb(167, 166, 166);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background-color: rgb(211, 211, 211);
    
  }
  button:hover , button:active , button:focus{
    outline: 0 !important;
}
 
}
@media(max-width:992px) and (min-width:100px)
{
       /* width */
::-webkit-scrollbar {
    
    width: 0px;
 }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background-color: rgb(36, 35, 35);
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 15px;
    background-color: rgb(167, 166, 166);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background-color: rgb(211, 211, 211);
    
  }
  button:hover , button:active , button:focus{
    outline: 0 !important;
}
}


.gray{
    color: rgb(46, 46, 46);
}


.btn:hover{
    color: black;
    transition: all 0.2s;
    
}
.STICKY{
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  
}
.btn{
  color: gray;

}
.A{
    color: rgb(56, 56, 56);
    
}
.A:hover{
  color: #f32071;
}
.C{
    cursor: pointer;
    overflow: hidden;
}
.CC{
    cursor: pointer;
    overflow: hidden;
    
}

.C:hover img{
    transform: scale(1.1);
    filter: brightness(70%);
    
}
.card img{
    transition: all 0.7s ease-in-out;
}

.BTN{
    background-color: rgb(54, 54, 54);
}
.BTN:hover{
    background-color: rgb(77, 77, 77);
}
.H{
    height: 100px;
}
.T{
    color: rgb(177, 177, 177);
    cursor: pointer;
}
.T:hover{
    color: rgb(0, 0, 0);
}
.G{
  background-color: #9acdda  ;
}
.FONT{
    font-size: small;
}
.Z{
    z-index: 99;
}
.Z1{
    z-index: 98;
}
.B{
    background: rgb(171, 224, 231); 
}
.RED{
    color: rgb(46, 46, 46);
    transition: all 0.3s ease-in-out;  
}
.RED:hover{
    color: #f32071;
    transition: all 0.3s ease-in-out;  
}
img{
    overflow: hidden;
   
}
.PO{
    top: 40px;
    left: 45px;
}
.noborder{
    border: none;
}
.box{
    width: 70px;
    height: 17px;
    background-color: grey;
    border-radius: 20px;
}
.dark-bg{
    background-color: #888;
}
.bg{
    background-image: url(1.jpg);
}
.SHIRI{
    color: rgb(194, 194, 194);
}
.w-80{
    width: 180px;
}
.khat{
    width: 50px;
    height: 4px;
    background-color: rgb(216, 0, 0);
    border-radius: 5px;
}
.MARGIN{
    margin-top: 80px;
}
.offcanvas-end{
    background-color: antiquewhite;
}
.box-1{
    background-color: grey;
    border-radius: 20px;
    
    width: 80px;
    height: 3px;
}
.BORDER{
    border: 0px !important;
}
.AA{
    color: rgb(58, 58, 58);
}
.AA:hover{
    color:#c99a00 ;
    transition: all 0.2s;
}
.nav .box-hover{
    width: 470px;
    height: 285px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 42px;
    border-radius: 10px;
    visibility: hidden;
    opacity: 0;
    transition: .2s all ease-in-out;
    cursor: default;
    white-space: nowrap;
  }
  .nav .NAV:hover + .box-hover,.nav .box-hover:hover {
    visibility: visible !important;
    opacity: 1 !important;
  }
  .WHITE-50{
    color: rgb(209, 209, 209);
  }
  .PLACE-HOLDER{
    
    color: black;
  }
  .PLACE-HOLDER::placeholder{
    
    color: gray;
  }
  .PLACE-HOLDER:focus{
    
    background: rgb(255, 255, 255); 
    
  }
  .MIN-HEIGHT1{
    min-height: 120px;
  }
  .MIN-HEIGHT2{
    min-height: 115px;
  }
  .h-95{
    height: 95% !important;
  }
  .W-10{
    width: 5% !important;
  }
  .Z-1{
    z-index: -1;
  }

.aksa{
    height: 100%;
    width: 100%;
}
@media (max-width:772px) 
{ 
    .aksa
    {
        height: 50%    ;
        margin-left: 10px;
    }
}
.L{
    background-color: whitesmoke;
}
.SHADOW{
    box-shadow: 25px 0 20px -20px rgba(0, 0, 0, 0.45), -25px 0 20px -20px rgba(0, 0, 0, 0.45);
}
#progress-container {
    width: 2400px;
    position: fixed;
    top: 80px;
    z-index: 9999;
    transition: 0.2s;
    overflow: hidden;
    height: 4px;
    padding: 0;
}
.A{
  position: relative;
  height: 35px;
}
.A::after{
  content: '';
  position: absolute;
  width: 100%;
  background-color: #f32071;
  height: 2px;
  bottom: 0;
  left: 0;
  border-radius: 5px;
  transform: scale( 0 , 1);
  transition: all ease-in-out 0.2s;
  
}
.A:hover::after{
  transform: scale( 1 , 1 );
  transition: all ease-in-out 0.2s;
  
}
#progress-bar {
    width: 0;
    height: 100%;
    background-image: linear-gradient(to right , #ff0062 , #549eff ,#65edff);
}
.gradient{
    background-image: linear-gradient(to right , gray , rgb(0, 96, 126));
}
.LOGO{
    transition: all ease-in-out 0.1s; 
    
}
.LOGO:hover{
    transform: scale(1.2);
    transition: all ease-in-out 0.1s;
    
}
h6{
  color: rgb(0, 0, 0);
  transition: all ease-in-out 0.2s;
}
h6:hover{
  color: #f32071;
  transition: all ease-in-out 0.2s;
}
.border-zard:hover{
  opacity: 90%;
  transition: all 0.2s;
  color: #f32071;
  border: 2px solid;
}
.border-zard{
color: rgb(80, 80, 80);
border: 2px solid;
transition: all 0.2s;
}
.switch {
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 60px;
    height: 30px;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #73C0FC;
    transition: .4s;
    border-radius: 30px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 27px;
    width: 27px;
    border-radius: 20px;
    left: 2px;
    bottom: 2px;
    z-index: 2;
    background-color: #e8e8e8;
    transition: .4s;
  }
  
  .sun svg {
    position: absolute;
    top: 6px;
    left: 36px;
    z-index: 1;
    width: 20px;
    height: 20px;
  }
  
  .moon svg {
    fill: #71aad6;
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 1;
    width: 20px;
    height: 20px;
  }
  
  /* .switch:hover */.sun svg {
    animation: rotate 15s linear infinite;
  }
  
  @keyframes rotate {
   
    0% {
      transform: rotate(0);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
  
  /* .switch:hover */.moon svg {
    animation: tilt 5s linear infinite;
  }
  
  @keyframes tilt {
   
    0% {
      transform: rotate(0deg);
    }
  
    25% {
      transform: rotate(-10deg);
    }
  
    75% {
      transform: rotate(10deg);
    }
  
    100% {
      transform: rotate(0deg);
    }
  }
  
  .input:checked + .slider {
    background-color: #183153;
  }
  
  .input:focus + .slider {
    box-shadow: 0 0 1px #183153;
  }
  
  .input:checked + .slider:before {
    transform: translateX(30px);
  }